{% extends 'base.html.twig' %}



{% block body %}

   
        <section class="section register ">
            {% for message  in app.flashes('message') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
        </section>
        <section class="section register ">
            {% for danger  in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ danger }}
                </div>
            {% endfor %}
        </section>
       

                       
                                {{ form_start(form) }}

                                <div class="col-12">
                                    <label for="yourEmail" class="form-label">Your Email</label>
                                    {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                                    
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Send</button>
                                </div>
                                <br>
                                <br>

                                {{ form_end(form) }}
                                <br><br><br>


                      

{% endblock %}