{% extends 'baseBack.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Liste des tickets</h2>
                <p>La liste des tickets</p>
                <input id="search_input" type="text" name="search_input" placeholder="Recherche ..." style="margin: 1em 0">
                <h4><a href="{{ path('ticket_new') }}">Create new</a></h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table" id="myTable">
                <thead>
                <tr>
                    <th>Numéro Ticket</th>
                    <th>Maximum</th>
                    <th>Demande</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.numticket }}</td>
                        <td>{{ ticket.nbmaxt }}</td>
                        <td>{{ ticket.nbtdemande }}</td>
                        <td>{{ ticket.prixf }}</td>
                        <td>
                            <a href="{{ path('ticket_show', {'numticket': ticket.numticket}) }}">Show</a>
                            ||
                            <a href="{{ path('ticket_edit', {'numticket': ticket.numticket}) }}">Edit</a>
                            ||
                            <a href="{{ path('ticket_qr', {'numticket': ticket.numticket}) }}">Scan</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#search_input").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
