{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">

      <div class="card border-0 shadow-sm">
        <div class="card-header bg-white border-bottom-0">
          <h4 class="mb-0"></h4>
        </div>

        <div class="card-body">

          <div class="form-group mb-4">
            {{ form_label(form.type) }}
            {{ form_widget(form.type, {'attr': {'class': 'form-control', 'placeholder': 'Type de réclamation'}}) }}
            {{ form_errors(form.type) }}
          </div>

          <div class="form-group mb-4">
            {{ form_label(form.Libelle) }}
            {{ form_widget(form.Libelle, {'attr': {'class': 'form-control', 'placeholder': 'Libellé de la réclamation'}}) }}
            {{ form_errors(form.Libelle) }}
          </div>

          <div class="form-group mb-4">
            {{ form_label(form.Description) }}
            {{ form_widget(form.Description, {'attr': {'class': 'form-control', 'placeholder': 'Description de la réclamation'}}) }}
            {{ form_errors(form.Description) }}
          </div>

          <div class="form-group mb-4">
            {{ form_label(form.Photo) }}
            {{ form_widget(form.Photo, {'attr': {'class': 'form-control', 'placeholder': 'Ajouter une photo'}}) }}
            {{ form_errors(form.Photo) }}
          </div>

          <div class="form-group mb-0">
            <button type="submit" class="btn btn-primary">{{ form_widget(form.save, {'label': 'Enregistrer'}) }}</button>
            <a href="{{ path('app_reclamation_index') }}" class="btn btn-secondary">Annuler</a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

{{ form_end(form) }}


    </div>
</div>
