{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
        <div class="row" style="display:flex;justify-content: center;align-items: center;">

        <div class="col-md-6">
        <div class="card">
        <form class="form-horizontal">
        <div class="card-body">


        <div class="form-group row">
        <label for="lname" class="col-sm-3 text-right control-label col-form-label"> Votre réponse : </label>
        <div class="col-sm-9">

        {{form_widget( form.Message,{'attr':{'class':'form-control','placeholder':'Votre réponse'}}) }}
        <small class="form-text text-muted">{{ form_errors(form.Message) }}</small>
        <small>{{ form_help(form.Message) }}</small>
        </div>
        </div>



        <div class="card-body" style="display:flex;justify-content: center;align-items: center;gap: 1cm;">

        <button class="btn btn-primary" class="btn"  >{{ button_label|default('Envoyer') }}</button>


        </div>
        </div>
        </form>
        </div>
        {{ form_end(form) }}


        </div>
        </div>


